# Python
__pycache__/
*.py[cod]
__pycache__/
*.pyc

# Env
.env

# Log files
*.log
*.tmp
*.swp

# OS
.DS_Store

# FastAPI specific
instance/

#Venv
venv/

# Node
node_modules/

# Environment
.env

# VSCode
.vscode/

# OS files
.DS_Store